# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# Secrets
Config/Secrets.xcconfig
*.xcconfig.local

# macOS
.DS_Store

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
